@layer base, components, utilities;
/* @import "tailwindcss/theme.css" layer(theme); */
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@theme {
  --font-body: "Inter", sans-serif;
  --font-code: "Roboto Mono", monospace;

  --font-heading-large: 550 24px/32px var(--font-body);

  --text-heading-large: 1.5rem;
  --text-heading-large--line-height: 2rem;
  --text-heading-large--font-weight: 550;

  --text-heading-medium: 0.938rem;
  --text-heading-medium--line-height: 1.563rem;
  --text-heading-medium--font-weight: 550;

  --text-heading-small: 0.813rem;
  --text-heading-small--line-height: 1.375rem;
  --text-heading-small--font-weight: 550;

  --text-body-large: 0.813rem;
  --text-heading-small--line-height: 1.375rem;
  --text-heading-small--font-weight: 450;

  --text-body-medium: 0.688rem;
  --text-heading-medium--line-height: 1rem;
  --text-heading-medium--font-weight: 450;

  --text-body-small: 0.563rem;
  --text-heading-small--line-height: 0.875rem;
  --text-heading-small--font-weight: 450;


  --font-weight-base: 400;
  --font-weight-strong: 550;

  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-2.5: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 2.5rem;
  --spacing-7: 3rem;
  --spacing-8: 3.5rem;

  --radius-small: 0.125rem;
  --radius-medium: 0.313rem;
  --radius-large: 0.813rem;


  --color-bg: var(--figma-color-bg);
  --color-bg-brand: var(--figma-color-bg-brand);
  --color-bg-brand-hover: var(--figma-color-bg-brand-hover);
  --color-bg-brand-pressed: var(--figma-color-bg-brand-pressed);
  --color-bg-brand-secondary: var(--figma-color-bg-brand-secondary);
  --color-bg-brand-tertiary: var(--figma-color-bg-brand-tertiary);
  --color-bg-component: var(--figma-color-bg-component);
  --color-bg-component-hover: var(--figma-color-bg-component-hover);
  --color-bg-component-pressed: var(--figma-color-bg-component-pressed);
  --color-bg-component-secondary: var(--figma-color-bg-component-secondary);
  --color-bg-component-tertiary: var(--figma-color-bg-component-tertiary);
  --color-bg-danger: var(--figma-color-bg-danger);
  --color-bg-danger-hover: var(--figma-color-bg-danger-hover);
  --color-bg-danger-pressed: var(--figma-color-bg-danger-pressed);
  --color-bg-danger-secondary: var(--figma-color-bg-danger-secondary);
  --color-bg-danger-tertiary: var(--figma-color-bg-danger-tertiary);
  --color-bg-disabled: var(--figma-color-bg-disabled);
  --color-bg-disabled-secondary: var(--figma-color-bg-disabled-secondary);
  --color-bg-hover: var(--figma-color-bg-hover);
  --color-bg-inverse: var(--figma-color-bg-inverse);
  --color-bg-onselected: var(--figma-color-bg-onselected);
  --color-bg-onselected-hover: var(--figma-color-bg-onselected-hover);
  --color-bg-onselected-pressed: var(--figma-color-bg-onselected-pressed);
  --color-bg-pressed: var(--figma-color-bg-pressed);
  --color-bg-secondary: var(--figma-color-bg-secondary);
  --color-bg-selected: var(--figma-color-bg-selected);
  --color-bg-selected-hover: var(--figma-color-bg-selected-hover);
  --color-bg-selected-pressed: var(--figma-color-bg-selected-pressed);
  --color-bg-selected-secondary: var(--figma-color-bg-selected-secondary);
  --color-bg-selected-strong: var(--figma-color-bg-selected-strong);
  --color-bg-selected-tertiary: var(--figma-color-bg-selected-tertiary);
  --color-bg-success: var(--figma-color-bg-success);
  --color-bg-success-hover: var(--figma-color-bg-success-hover);
  --color-bg-success-pressed: var(--figma-color-bg-success-pressed);
  --color-bg-success-secondary: var(--figma-color-bg-success-secondary);
  --color-bg-success-tertiary: var(--figma-color-bg-success-tertiary);
  --color-bg-tertiary: var(--figma-color-bg-tertiary);
  --color-bg-warning: var(--figma-color-bg-warning);
  --color-bg-warning-hover: var(--figma-color-bg-warning-hover);
  --color-bg-warning-pressed: var(--figma-color-bg-warning-pressed);
  --color-bg-warning-secondary: var(--figma-color-bg-warning-secondary);
  --color-bg-warning-tertiary: var(--figma-color-bg-warning-tertiary);

  --color-border: var(--figma-color-border);
  --color-border-brand: var(--figma-color-border-brand);
  --color-border-brand-strong: var(--figma-color-border-brand-strong);
  --color-border-component: var(--figma-color-border-component);
  --color-border-component-hover: var(--figma-color-border-component-hover);
  --color-border-component-strong: var(--figma-color-border-component-strong);
  --color-border-danger: var(--figma-color-border-danger);
  --color-border-danger-strong: var(--figma-color-border-danger-strong);
  --color-border-disabled: var(--figma-color-border-disabled);
  --color-border-disabled-strong: var(--figma-color-border-disabled-strong);
  --color-border-onbrand: var(--figma-color-border-onbrand);
  --color-border-onbrand-strong: var(--figma-color-border-onbrand-strong);
  --color-border-oncomponent: var(--figma-color-border-oncomponent);
  --color-border-oncomponent-strong: var(--figma-color-border-oncomponent-strong);
  --color-border-ondanger: var(--figma-color-border-ondanger);
  --color-border-ondanger-strong: var(--figma-color-border-ondanger-strong);
  --color-border-onselected: var(--figma-color-border-onselected);
  --color-border-onselected-strong: var(--figma-color-border-onselected-strong);
  --color-border-onsuccess: var(--figma-color-border-onsuccess);
  --color-border-onsuccess-strong: var(--figma-color-border-onsuccess-strong);
  --color-border-onwarning: var(--figma-color-border-onwarning);
  --color-border-onwarning-strong: var(--figma-color-border-onwarning-strong);
  --color-border-selected: var(--figma-color-border-selected);
  --color-border-selected-strong: var(--figma-color-border-selected-strong);
  --color-border-strong: var(--figma-color-border-strong);
  --color-border-success: var(--figma-color-border-success);
  --color-border-success-strong: var(--figma-color-border-success-strong);
  --color-border-warning: var(--figma-color-border-warning);
  --color-border-warning-strong: var(--figma-color-border-warning-strong);

  --color-icon: var(--figma-color-icon);
  --color-icon-brand: var(--figma-color-icon-brand);
  --color-icon-brand-pressed: var(--figma-color-icon-brand-pressed);
  --color-icon-brand-secondary: var(--figma-color-icon-brand-secondary);
  --color-icon-brand-tertiary: var(--figma-color-icon-brand-tertiary);
  --color-icon-component: var(--figma-color-icon-component);
  --color-icon-component-pressed: var(--figma-color-icon-component-pressed);
  --color-icon-component-secondary: var(--figma-color-icon-component-secondary);
  --color-icon-component-tertiary: var(--figma-color-icon-component-tertiary);
  --color-icon-danger: var(--figma-color-icon-danger);
  --color-icon-danger-hover: var(--figma-color-icon-danger-hover);
  --color-icon-danger-pressed: var(--figma-color-icon-danger-pressed);
  --color-icon-danger-secondary: var(--figma-color-icon-danger-secondary);
  --color-icon-danger-secondary-hover: var(--figma-color-icon-danger-secondary-hover);
  --color-icon-danger-tertiary: var(--figma-color-icon-danger-tertiary);
  --color-icon-disabled: var(--figma-color-icon-disabled);
  --color-icon-hover: var(--figma-color-icon-hover);
  --color-icon-onbrand: var(--figma-color-icon-onbrand);
  --color-icon-onbrand-secondary: var(--figma-color-icon-onbrand-secondary);
  --color-icon-onbrand-tertiary: var(--figma-color-icon-onbrand-tertiary);
  --color-icon-oncomponent: var(--figma-color-icon-oncomponent);
  --color-icon-oncomponent-secondary: var(--figma-color-icon-oncomponent-secondary);
  --color-icon-oncomponent-tertiary: var(--figma-color-icon-oncomponent-tertiary);
  --color-icon-ondanger: var(--figma-color-icon-ondanger);
  --color-icon-ondanger-secondary: var(--figma-color-icon-ondanger-secondary);
  --color-icon-ondanger-tertiary: var(--figma-color-icon-ondanger-tertiary);
  --color-icon-ondisabled: var(--figma-color-icon-ondisabled);
  --color-icon-oninverse: var(--figma-color-icon-oninverse);
  --color-icon-onselected: var(--figma-color-icon-onselected);
  --color-icon-onselected-secondary: var(--figma-color-icon-onselected-secondary);
  --color-icon-onselected-strong: var(--figma-color-icon-onselected-strong);
  --color-icon-onselected-tertiary: var(--figma-color-icon-onselected-tertiary);
  --color-icon-onsuccess: var(--figma-color-icon-onsuccess);
  --color-icon-onsuccess-secondary: var(--figma-color-icon-onsuccess-secondary);
  --color-icon-onsuccess-tertiary: var(--figma-color-icon-onsuccess-tertiary);
  --color-icon-onwarning: var(--figma-color-icon-onwarning);
  --color-icon-onwarning-secondary: var(--figma-color-icon-onwarning-secondary);
  --color-icon-onwarning-tertiary: var(--figma-color-icon-onwarning-tertiary);
  --color-icon-pressed: var(--figma-color-icon-pressed);
  --color-icon-secondary: var(--figma-color-icon-secondary);
  --color-icon-secondary-hover: var(--figma-color-icon-secondary-hover);
  --color-icon-selected: var(--figma-color-icon-selected);
  --color-icon-selected-secondary: var(--figma-color-icon-selected-secondary);
  --color-icon-selected-tertiary: var(--figma-color-icon-selected-tertiary);
  --color-icon-success: var(--figma-color-icon-success);
  --color-icon-success-pressed: var(--figma-color-icon-success-pressed);
  --color-icon-success-secondary: var(--figma-color-icon-success-secondary);
  --color-icon-success-tertiary: var(--figma-color-icon-success-tertiary);
  --color-icon-tertiary: var(--figma-color-icon-tertiary);
  --color-icon-tertiary-hover: var(--figma-color-icon-tertiary-hover);
  --color-icon-warning: var(--figma-color-icon-warning);
  --color-icon-warning-pressed: var(--figma-color-icon-warning-pressed);
  --color-icon-warning-secondary: var(--figma-color-icon-warning-secondary);
  --color-icon-warning-tertiary: var(--figma-color-icon-warning-tertiary);

  --color-text: var(--figma-color-text);
  --color-text-brand: var(--figma-color-text-brand);
  --color-text-brand-secondary: var(--figma-color-text-brand-secondary);
  --color-text-brand-tertiary: var(--figma-color-text-brand-tertiary);
  --color-text-component: var(--figma-color-text-component);
  --color-text-component-pressed: var(--figma-color-text-component-pressed);
  --color-text-component-secondary: var(--figma-color-text-component-secondary);
  --color-text-component-tertiary: var(--figma-color-text-component-tertiary);
  --color-text-danger: var(--figma-color-text-danger);
  --color-text-danger-secondary: var(--figma-color-text-danger-secondary);
  --color-text-danger-tertiary: var(--figma-color-text-danger-tertiary);
  --color-text-disabled: var(--figma-color-text-disabled);
  --color-text-hover: var(--figma-color-text-hover);
  --color-text-onbrand: var(--figma-color-text-onbrand);
  --color-text-onbrand-secondary: var(--figma-color-text-onbrand-secondary);
  --color-text-onbrand-tertiary: var(--figma-color-text-onbrand-tertiary);
  --color-text-oncomponent: var(--figma-color-text-oncomponent);
  --color-text-oncomponent-secondary: var(--figma-color-text-oncomponent-secondary);
  --color-text-oncomponent-tertiary: var(--figma-color-text-oncomponent-tertiary);
  --color-text-ondanger: var(--figma-color-text-ondanger);
  --color-text-ondanger-secondary: var(--figma-color-text-ondanger-secondary);
  --color-text-ondanger-tertiary: var(--figma-color-text-ondanger-tertiary);
  --color-text-ondisabled: var(--figma-color-text-ondisabled);
  --color-text-oninverse: var(--figma-color-text-oninverse);
  --color-text-onselected: var(--figma-color-text-onselected);
  --color-text-onselected-secondary: var(--figma-color-text-onselected-secondary);
  --color-text-onselected-strong: var(--figma-color-text-onselected-strong);
  --color-text-onselected-tertiary: var(--figma-color-text-onselected-tertiary);
  --color-text-onsuccess: var(--figma-color-text-onsuccess);
  --color-text-onsuccess-secondary: var(--figma-color-text-onsuccess-secondary);
  --color-text-onsuccess-tertiary: var(--figma-color-text-onsuccess-tertiary);
  --color-text-onwarning: var(--figma-color-text-onwarning);
  --color-text-onwarning-secondary: var(--figma-color-text-onwarning-secondary);
  --color-text-onwarning-tertiary: var(--figma-color-text-onwarning-tertiary);
  --color-text-secondary: var(--figma-color-text-secondary);
  --color-text-secondary-hover: var(--figma-color-text-secondary-hover);
  --color-text-selected: var(--figma-color-text-selected);
  --color-text-selected-secondary: var(--figma-color-text-selected-secondary);
  --color-text-selected-tertiary: var(--figma-color-text-selected-tertiary);
  --color-text-success: var(--figma-color-text-success);
  --color-text-success-secondary: var(--figma-color-text-success-secondary);
  --color-text-success-tertiary: var(--figma-color-text-success-tertiary);
  --color-text-tertiary: var(--figma-color-text-tertiary);
  --color-text-tertiary-hover: var(--figma-color-text-tertiary-hover);
  --color-text-warning: var(--figma-color-text-warning);
  --color-text-warning-secondary: var(--figma-color-text-warning-secondary);
  --color-text-warning-tertiary: var(--figma-color-text-warning-tertiary);


  --color-bg-menu: #1E1E1E;
  --color-white: #FFFFFF;
  --color-menu-selected: #0D99FF;
}


/* @utility scrollbar {

  .scrollbar ::-webkit-scrollbar-thumb {
    background: #888;
  }
} */



::-webkit-scrollbar-corner {
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: transparent; */
  border-radius: 5px;
}